button {
  border-radius: 10px;
  border: none;
  padding: 1rem;
  border: 2px solid black;
  margin: 1rem;

  background-color: rgb(181, 185, 182);
  max-width: fit-content;
}
button:hover {
  box-shadow: 1px 10px 10px 1px rgb(7, 70, 13);
  cursor: pointer;
  background-color: rgb(7, 70, 13);
  transition: 0.3s ease, color 0.3s ease;
  color: white;
}
input {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  max-width: fit-content;
  margin-top: 0;
  background-color: rgb(181, 185, 182);
}
input:focus {
  outline: 2px solid rgb(7, 70, 13);
}


.inactive {
  visibility: hidden;
}
.contenido{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.3rem;
  place-items: center;
}
